<% provide(:title, 'Vinayak') %> 

 
  <div class="section black" id="section1">
    <h2>Ganesh Chavithi</h2>
    <p>
        <section class="row">
          <div class="span6">
              <a data-toggle="collapse" href="#collapseOne">
                  వినాయక వ్రతము
              </a>

              <div id="collapseOne" class=" collapse in">
                <blockquote>
                    సనాతన ధర్మాన్ని ఆచరించే వారందరికీ ఆదిదేవుడు విఘ్నేశ్వరుడు. ప్రతి సంవత్సరము భాద్రపద శుద్ధ చవితి రోజున ప్రత్యేకించి విఘ్నేశ్వరుడిని కొలుస్తారు. వినాయక చవితి రోజున అందరూ, వినాయక వ్రతాన్ని భక్తిశ్రద్ధలతో చేసి, వ్రతకథను విని, తమకు ఎలాంటి విఘ్నాలు వాటిల్లకుండా కాపాడమని ప్రార్థిస్తారు.
                  
                </blockquote>
              </div>

              <a data-toggle="collapse" href="#collapseTwo">
                      Click here for English
              </a>
              <div id="collapseTwo" class=" collapse ">
                <blockquote>
                  <p>
                        Ganesha's head symbolizes the Atma or the soul, which is the ultimate supreme reality of human existence, and his human body signifies Maya or the earthly existence of human beings. The elephant head denotes wisdom and its trunk represents Om, the sound symbol of cosmic reality. In his upper right hand Ganesha holds a goad, which helps him propel mankind forward on the eternal path and remove obstacles from the way. The noose in Ganesha's left hand is a gentle implement to capture all difficulties.
                  </p>
                  <p>  
                        The broken tusk that Ganesha holds like a pen in his lower right hand is a symbol of sacrifice, which he broke for writing the Mahabharata. The rosary in his other hand suggests that the pursuit of knowledge should be continuous. The Modakam (sweet) he holds in his trunk indicates that one must discover the sweetness of the Atma. His fan-like ears convey that he is all ears to our petition. The snake that runs round his waist represents energy in all forms. And he is humble enough to ride the lowest of creatures, a mouse.
                  </p>
                </blockquote>
              </div>
          </div>
          <div class="span6">
            <div id="myCarousel" class="carousel slide">
               <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><%= image_tag src="ganesha_1.jpeg" %></div>
                <div class="item"><%= image_tag src="ganesha_2.jpeg" %></div>
                <div class="item"><%= image_tag src="ganesha_3.jpg" %></div>
              </div>
               <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
         
        </section>
    </p>
  </div>
 


      

  <div class="section white" id="section2">
    <h2>Puja Items</h2>
        <div class="container-fluid">
            <header>
                
                <p>
                    <button id="start-slideshow" class="btn btn-large btn-success" data-slideshow="5000" data-target="#modal-gallery" data-selector="#gallery a[rel=gallery]">Start Slideshow</button>
                    <button id="toggle-fullscreen" class="btn btn-large btn-primary" data-toggle="button">Toggle Fullscreen</button>
                </p>
            </header>
            <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
              
              <%= link_to image_tag("apamarga_1.jpg"), url_for("http://localhost:3000/assets/apamarga.jpg"), :title => "Apamarga", :rel => "gallery" %>
              <%= link_to image_tag("arjuna_1.jpg"), url_for("http://localhost:3000/assets/arjuna.jpg"), :title => "Arjuna", :rel => "gallery" %>
              <%= link_to image_tag("arka_1.jpg"), url_for("http://localhost:3000/assets/arka.jpg"), :title => "Arka", :rel => "gallery" %>
              <%= link_to image_tag("aswatha_1.jpg"), url_for("http://localhost:3000/assets/aswatha.jpg"), :title => "Aswatha", :rel => "gallery" %>
              <%= link_to image_tag("badari_1.jpg"), url_for("http://localhost:3000/assets/badari.jpg"), :title => "Badari", :rel => "gallery" %>
              <%= link_to image_tag("beetel_1.jpg"), url_for("http://localhost:3000/assets/beetel.jpg"), :title => "Beetel", :rel => "gallery" %>
              <%= link_to image_tag("bilva_1.jpg"), url_for("http://localhost:3000/assets/bilva.jpg"), :title => "Bilva", :rel => "gallery" %>
              <%= link_to image_tag("brihathi_1.jpg"), url_for("http://localhost:3000/assets/brihathi.jpg"), :title => "Brihathi", :rel => "gallery" %>
              <%= link_to image_tag("camphor_1.jpg"), url_for("http://localhost:3000/assets/camphor.jpg"), :title => "Camphor", :rel => "gallery" %>
              <%= link_to image_tag("chootha_1.jpg"), url_for("http://localhost:3000/assets/chootha.jpg"), :title => "Chootha", :rel => "gallery" %>
              <%= link_to image_tag("daadimi_1.jpg"), url_for("http://localhost:3000/assets/daadimi.jpg"), :title => "Daadimi", :rel => "gallery" %>
              <%= link_to image_tag("dattura_1.jpg"), url_for("http://localhost:3000/assets/dattura.jpg"), :title => "Dattura", :rel => "gallery" %>
              <%= link_to image_tag("devadaru_1.jpg"), url_for("http://localhost:3000/assets/devadaru.jpg"), :title => "Devadaru", :rel => "gallery" %>
              <%= link_to image_tag("dhoop_1.jpg"), url_for("http://localhost:3000/assets/dhoop.jpg"), :title => "Dhoop", :rel => "gallery" %>
              <%= link_to image_tag("flower_1.jpg"), url_for("http://localhost:3000/assets/flower.jpg"), :title => "Flower", :rel => "gallery" %>
              <%= link_to image_tag("gandhaki_1.jpg"), url_for("http://localhost:3000/assets/gandhaki.jpg"), :title => "Gandhaki", :rel => "gallery" %>
              <%= link_to image_tag("gandham_1.jpg"), url_for("http://localhost:3000/assets/gandham.jpg"), :title => "Gandham", :rel => "gallery" %>
              <%= link_to image_tag("jahanav_1.jpg"), url_for("http://localhost:3000/assets/jahanav.jpg"), :title => "Jahanav", :rel => "gallery" %>
              <%= link_to image_tag("jajee_1.jpg"), url_for("http://localhost:3000/assets/jajee.jpg"), :title => "Jajee", :rel => "gallery" %>
              <%= link_to image_tag("karaveera_1.jpg"), url_for("http://localhost:3000/assets/karaveera.jpg"), :title => "Karaveera", :rel => "gallery" %>
              <%= link_to image_tag("kumkum_1.jpg"), url_for("http://localhost:3000/assets/kumkum.jpg"), :title => "Kumkum", :rel => "gallery" %>
              <%= link_to image_tag("machi_1.jpg"), url_for("http://localhost:3000/assets/machi.jpg"), :title => "Machi", :rel => "gallery" %>
              <%= link_to image_tag("mango_1.jpg"), url_for("http://localhost:3000/assets/mango.jpg"), :title => "Mango", :rel => "gallery" %>
              <%= link_to image_tag("maruvam_1.jpg"), url_for("http://localhost:3000/assets/maruvam.jpg"), :title => "Maruvam", :rel => "gallery" %>
              <%= link_to image_tag("modhak_1.jpg"), url_for("http://localhost:3000/assets/modhak.jpg"), :title => "Modhak", :rel => "gallery" %>
              <%= link_to image_tag("pathra_1.jpg"), url_for("http://localhost:3000/assets/pathra.jpg"), :title => "Pathra", :rel => "gallery" %>
              <%= link_to image_tag("phalam_1.jpg"), url_for("http://localhost:3000/assets/phalam.jpg"), :title => "Phalam", :rel => "gallery" %>
              <%= link_to image_tag("shami_1.jpg"), url_for("http://localhost:3000/assets/shami.jpg"), :title => "Shami", :rel => "gallery" %>
              <%= link_to image_tag("sindhudhara_1.jpg"), url_for("http://localhost:3000/assets/sindhudhara.jpg"), :title => "Sindhudhara", :rel => "gallery" %>
              <%= link_to image_tag("thulasi_1.jpg"), url_for("http://localhost:3000/assets/thulasi.jpg"), :title => "THulasi", :rel => "gallery" %>
              <%= link_to image_tag("vishnukrantha_1.jpg"), url_for("http://localhost:3000/assets/vishnukrantha.jpg"), :title => "Vishnukrantha", :rel => "gallery" %>

              </div>
            <br>
        </div>
        <!-- modal-gallery is the modal dialog used for the image gallery -->
        <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title"></h3>
                    </div>
                    <div class="modal-body"><div class="modal-image"></div></div>
                    <div class="modal-footer">
                        <a class="btn modal-download" target="_blank">
                            <i class="icon-download"></i>
                            <span>Download</span>
                        </a>
                        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                            <i class="icon-play icon-white"></i>
                            <span>Slideshow</span>
                        </a>
                        <a class="btn btn-info modal-prev">
                            <i class="icon-arrow-left icon-white"></i>
                            <span>Previous</span>
                        </a>
                        <a class="btn btn-primary modal-next">
                            <span>Next</span>
                            <i class="icon-arrow-right icon-white"></i>
                        </a>
                    </div>
                </div>
  </div> 


<script type="text/javascript">
$(function(){
  $('.carousel').carousel();
});
</script>

<script type="text/javascript">
$(function() {
    $('ul.nav a').bind('click',function(event){
        var $anchor = $(this);
        /*
        if you want to use one of the easing effects:
        $('html, body').stop().animate({
            scrollLeft: $($anchor.attr('href')).offset().left
        }, 1500,'easeInOutExpo');
         */
        $('html, body').stop().animate({
            scrollLeft: $($anchor.attr('href')).offset().left
        }, 1000);
        event.preventDefault();
    });
});
</script>