
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= @user.posts.count %> contributions
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>
  <div class="span9">
    
    <% if @user.posts.any? %>

        <ul class="cbp_tmtimeline">
          <%= render partial: 'shared/user_feed', collection: @posts, as: :post %>

        </ul>

        <%= will_paginate @posts %>
       
       
    <% end %>
  </div>
</div>

