
  
    
<li>
<time class="cbp_tmtime" datetime="">
<span><%= feed_item.created_at.strftime("%d %b %Y") %></span> 
<span><%= feed_item.created_at.strftime("%I:%M %p") %></span>
</time>
<div class="cbp_tmicon cbp_tmicon-phone"><%= gravatar_for feed_item.user %> </div>
<div class="cbp_tmlabel">
<h2><%= link_to simple_format(strip_tags(feed_item.title)), :controller => "posts", :action => "show", :id => feed_item %></h2>
<p><%= simple_format(strip_tags(summary(feed_item))) %></p>

    <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete, confirm: "You sure?", title: feed_item.title %>
    <% end %>
</div>
</li>

     
    
    
    
  

