<%= form_for(@post, :html => {:multipart => true})  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field form-actions">
  <p>
    <%= f.text_field :title, placeholder: "Title" %>
    
    <%= f.file_field :photo, placeholder: "Cover image" %>
  </p> 
    <%= render 'shared/inlineall' %>
  </div>
  <%= f.submit "Post", class: "actions btn btn-large btn-primary" %>
  
<% end %>
