<%= provide(:title, strip_tags(@post.title)) %>

 



<div id="editable_container" class="template-background">
  <div id="header">
    <div id="headerLeft">
      <div id="keyone" >
        <%= simple_format(@show_data["keyone"]) %>
      </div>  
      <div id="keytwo" >
        <%= simple_format(@show_data["keytwo"]) %>
      </div>     
    </div>
    
    <div id="headerRight" >
        <%if (@urls[0] != "array is empty") %>
                <p>
                    <button id="start-slideshow" class="btn btn-small btn-success" data-slideshow="5000" data-target="#modal-gallery" data-selector="#gallery a[rel=gallery]">Start Slideshow</button>
                    <button id="toggle-fullscreen" class="btn btn-small btn-primary" data-toggle="button">Toggle Fullscreen</button>
                </p>
            
                <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
                  <% for upload in @urls %>
                      <%= link_to image_tag(upload, :size => "75x75"), upload, :data => {:gallery => 'gallery'} %>
                  <% end %>
              
                </div>

                <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title"></h3>
                    </div>
                    <div class="modal-body"><div class="modal-image"></div></div>
                    <div class="modal-footer">
                        <a class="btn modal-download" target="_blank">
                            <i class="icon-download"></i>
                            <span>Download</span>
                        </a>
                        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                            <i class="icon-play icon-white"></i>
                            <span>Slideshow</span>
                        </a>
                        <a class="btn btn-info modal-prev">
                            <i class="icon-arrow-left icon-white"></i>
                            <span>Previous</span>
                        </a>
                        <a class="btn btn-primary modal-next">
                            <span>Next</span>
                            <i class="icon-arrow-right icon-white"></i>
                        </a>
                    </div>
                </div>
        <% end %>
    </div>
    
  </div>
  <div id="columns">
    <div id="column1" >
      <div id="keythree">
        <%= simple_format(@show_data["keythree"]) %>
        
        
      </div>
      
    </div>
    <div id="column2" >
      <div id="keyfour" >
        <%= simple_format(@show_data["keyfour"]) %>
      </div>
      <div id="keyfive" >

        <a href="#myModal" role="button" class="btn btn-small btn-success" data-toggle="modal">Click for details</a>
 
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          
          <div class="modal-body">
            <p><%= simple_format(@show_data["keyfive"]) %></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
            
          </div>
        </div>
        
        
      </div>

    </div>

    <div id="column3" >
      <div id="keysix" >
        <%= simple_format(@show_data["keysix"]) %>
        
      </div>

      <div id="youtube" >
       <%if (@youtube != "Enter id") %> 
        <p>
            <iframe width="320" height="240" src="<%= "http://www.youtube.com/embed/"+video(@youtube) %>"></iframe>

        </p> 
        <% end %>
      </div>
    </div>


  </div>
  <div id="copyright" >
    
    <%= simple_format(@show_data["copyright"]) %>
  </div>
</div>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="arial" data-action="recommend"></div>



