<!DOCTYPE html> 

<html> 

  <head> 

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application", :media => "all" %> 

    <%= javascript_include_tag "application" %> 

    <%= csrf_meta_tags %> 

    <%= render 'layouts/shim' %>

  </head>


  <body onload="init()">

    <%= render 'layouts/header' %>
      
      <div class="container" >
        
          <% flash.each do |key, value| %>
	        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
          <%= yield %>
        
        
        <%= debug(params) if Rails.env.development? %>
     </div>
 
    <%= render 'layouts/footer' %>
  </body> 

</html> 
<script type="text/javascript">
  $('#wysiwyg').wysihtml5({
    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": true, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": true, //Button to insert an image. Default true,
    "color": true
  });
</script>